/* These are for the embedded content */
.ei8-embedded-content {
    /*text-align: center;*/
    padding: 5px 10px;
}
.ei8-embedded-content-center {
    margin:auto;
}
.ei8-embedded-content-left {
    margin-right:auto;
}
.ei8-embedded-content-right {
    margin-left:auto;
}
.ei8-affiliate {
    width: 200px;
    margin: auto;
    text-align: center;
}
.ei8-affiliate a {
    font-size: 11px;
    text-decoration: none;
}
.ei8-align-center {
    text-align: center;
}
.ei8-align-left {
    text-align: left;
}
.ei8-align-right {
    text-align: right;
}

.ei8title {
    visibility: hidden;
}

.ei8comment img, .ei8image {
    width: 100%;
}

/* These are for the shortcode stylings */
.ei8-web-recorder, .ei8-form-wrapper {
    text-align: center;
    width: 375px;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    padding: 15px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.ei8-form-wrapper {
    width: 450px;
    margin: auto;
}
.ei8-form-iframe {
    width: 100%;
    height: 355px;
}
.ei8-web-recorder-wide {
    width: 685px;
    margin-left: -87px;
}
.ei8-form-line *, .ei8-form-label label {
    font-family: Tahoma;
    vertical-align: middle;
}
.ei8-form-line {
    width: 450px;
    text-align: left;
}
.ei8-form-label {
    width: 120px;
    text-align: left;
    vertical-align: top;
}
.ei8-form-label, .ei8-form-field {
    display: inline-block;
    text-align: left;
}
.ei8-form-field input[type=submit], .ei8-form-field input[type=file], .ei8-form-field input[type=button] {
    background-color: #5F5F5F;
    color: #EEEEEE;
}
.ei8-form-line-spacer {
    height: 14px;
}
textarea {
    width: 300px;
}
.ei8-shortcode-wrapper {
    margin: auto;
    width: 70%;
}
.ei8-confirmation {
    border:1px solid #CCC;
    padding:10px;
    height: 70px;
    background-color: #E5EEE1;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom: 15px;
}
.ei8-confirmation-img, .ei8-confirmation-msg {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.ei8-confirmation-img {
    width: 100px;
}
.ei8-confirmation-msg {
    width: 80%;
}

/* These are designated, and could be useful, but no styling is used by default */
.ei8-web-recorder-mini, .ei8-web-recorder-tall, .ei8-web-recorder-media {}
.ei8-textarea, .ei8-textarea-updesc, .ei8-textarea-simple-submit, .ei8-textarea-tweet {}
.ei8-playlist {}



/* These are used for the playlist item display */
.ei8-playlist-container {
    margin-bottom: 25px;
}
.ei8-playlist-player {
    margin-bottom: 5px;
}
#content .ei8-playlist ul {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: -30000px;
}
.ei8-playlist ul li {
    list-style: none;
    display: inline-block;
    float: left;
    width: 100px;
}
.ei8-playlist-item {
    display: inline-block;
    clear: both;
    width: 90px;
    padding: 10px;
    margin: 0px ;
    float: left;
}
.ei8-playlist-item-image {
    display: inline;
    float: left;
    margin-right: 10px;
    /*height: 80px;*/
}
.ei8-playlist-item-info {
    display: none;
    /*display: inline-block;*/
    float: left;
    margin-right: 10px;
}
.ei8-playlist-item-image img {
    width: 80px;
}
.ei8-playlist-item-title {
    font-weight: bold;

}
.ei8-playlist {
    border: 1px #FFFFFF solid;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.ei8-playlist-player div .jwplayer {
    border: 5px solid #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

.jThumbnailScroller {
    position: relative;
    height: 90px;
    /*margin: 0px auto 0 auto;*/
    border: 5px solid #eee;
    background: #bbb;
    padding: 0;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jThumbnailScroller .jTscrollerContainer {
    position: absolute;
}

.jThumbnailScroller .jTscroller {
    position: relative;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    display: inline-block;
    *display: inline;
}

.jThumbnailScroller .jTscrollerNextButton, .jThumbnailScroller .jTscrollerPrevButton {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    opacity: 0.7;
}

.jThumbnailScroller .jTscrollerNextButton {
    background: #000 url(nextArrow.png) center center;
}

.jThumbnailScroller .jTscrollerPrevButton {
    background: #000 url(prevArrow.png) center center;
}

.jThumbnailScroller .jTscrollerNextButton:hover, .jThumbnailScroller .jTscrollerPrevButton:hover {
    /*background-color: #d56916;*/
    background-color: #536CA5;
    opacity: 1;
}

.jThumbnailScroller .jTscroller a {
    display: block;
    float: left;
    border: 5px solid #ddd;
    margin: 6px 10px 6px 0;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee;
}

.jThumbnailScroller .jTscroller a:hover {
    border-color: #fff;
}

.jThumbnailScroller .jTscroller a:first-child {
    margin-left: 10px;
}


.jThumbnailScroller .jTscroller a img {
    border: none;
    height: 65px;
}

/* different styled scrollers */
/* liquid width scroller */
.jThumbnailScroller {
    /*margin: 30px auto;*/
}

.jThumbnailScroller .jTscroller a {
    opacity: 0.7;
}

.jThumbnailScroller .jTscroller a:hover {
    opacity: 1;
}

.jThumbnailScroller .jTscrollerNextButton {
    margin: -20px 10px 0 10px;
    right: 0;
    top: 50%;
}

.jThumbnailScroller .jTscrollerPrevButton {
    margin: -20px 10px 0 10px;
    left: 0;
    top: 50%;
}

.jThumbnailScroller#tS1 {
    width: 95%;
}

.jThumbnailScroller#tS2 {
    margin: 30px auto;
}

.jThumbnailScroller#tS2 .jTscroller a {
    opacity: 0.7;
}

.jThumbnailScroller#tS2 .jTscroller a:hover {
    opacity: 1;
}

.jThumbnailScroller#tS2 .jTscrollerNextButton {
    margin: -20px 10px 0 10px;
    right: 0;
    top: 50%;
}

.jThumbnailScroller#tS2 .jTscrollerPrevButton {
    margin: -20px 10px 0 10px;
    left: 0;
    top: 50%;
}

/* a vertical scroller */
.jThumbnailScroller#tS3 {
    position: absolute;
    left: 40px;
    top: 322px;
    width: 122px;
    height: 400px;
    margin: 0;
    background: #eee;
}

.jThumbnailScroller#tS3 .jTscroller {
    height: auto;
    margin-bottom: 40px;
}

.jThumbnailScroller#tS3 .jTscroller a {
    display: block;
    margin: 0 6px 10px 6px;
    width: 100px;
    overflow: hidden;
    opacity: 0.7;
}

.jThumbnailScroller#tS3 .jTscroller a:hover {
    opacity: 1;
}

.jThumbnailScroller#tS3 .jTscroller a:first-child {
    margin-top: 50px;
}

.jThumbnailScroller#tS3 .jTscrollerNextButton {
    margin: 10px 0 10px -20px;
    bottom: 0;
    left: 50%;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.jThumbnailScroller#tS3 .jTscrollerPrevButton {
    margin: 10px 0 10px -20px;
    top: 0;
    left: 50%;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

/*.ei8-playlist-container {
    margin-bottom: 25px;
}
.ei8-playlist ul {
    padding-left: 0px;
}
.ei8-playlist ul li {
    list-style: none;
    display: block;
}
.ei8-playlist-item {
    display: block;
    clear: both;
    width: 350px;
    padding: 10px;
    margin: 5px 10px 5px 0px ;
}
.ei8-playlist-item-image {
    display: inline;
    float: left;
    margin-right: 10px;
}
.ei8-playlist-item-image img {
    width: 100px;
}
.ei8-playlist-item-title {
    font-weight: bold;
}*/



/* These are used for the twitter form */
#bar {
    background-color:#5fbbde;
    width:0px;
    height:16px;
}
#barbox {
    float:left;
    height:16px;
    background-color:#FFFFFF;
    width:100px;
    border:solid 2px #000;
    margin-left:3px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#count, #counter {
    float:left;
    margin-right:8px;
}
#tweet {}
#character-count {}




/* these are for the expander */
.expand {
    padding-bottom:.75em
}
.expand a {
    display:block;
    padding:3px 10px
}
.expand a:link, .expand a:visited {
    background-image:url('arrow-down.gif');
    background-repeat:no-repeat;
    background-position:98% 50%;
    color: #555;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.expand a:hover, .expand a:active, .expand a:focus {
    text-decoration:underline;
    color: #555;
}
.expand a.open:link, .expand a.open:visited {
    background-image: url('arrow-up.gif');
}




/* this is for the uploader */
.do_uploads {
    font-size: 14px;
    font-weight: bold;
}

