/* 
Floodgate Stylesheet
*/

@font-face {
    font-family: FuturaBold;
    src: url('Futura-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans';
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.floatarea {
    clear: both;
    overflow: hidden;
}

/* Header */
header {
    height: 68px;
    background: #000;
    overflow: visible !important;
}

header.adminbuffer {
    margin-top: 28px;
}

#titles {
    float: left;
    margin-left: 5px;
}

#titles h1 {
    color: #fff;
    font-size: 22px;
    line-height: 40px;
}

#titles h2 {
    color: #A8A6A6;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
}

#titles h2 span {
    color: #C1272D;
    font-weight: bold;
}

/* Drop Down */
#mainnav ul li ul a {
    display: block;
    float: none;
}

#mainnav ul ul {
    position: absolute;
    z-index: 500;
    top: 68px;
    left: -1px;
}

#mainnav ul ul ul {
    top: 0;
    left: 100%;
}

#mainnav ul ul li {
    float: none;
    clear: both;
    display: block;
}

#mainnav ul ul,
#mainnav ul li:hover ul ul,
#mainnav ul ul li:hover ul ul {
    display: none;
}

#mainnav ul li:hover ul,
#mainnav ul ul li:hover ul,
#mainnav ul ul li ul li:hover ul {
    display: block;
}

#mainnav {
    float: right;
    font-size: 14px;
}

#mainnav ul {
    float: right;
}

#mainnav li {
    float: left;
    margin: 0 1px;
    background: #4D4E4E;
    position: relative;
}

#mainnav li:hover ul li a {
    padding: 5px 1px;
    margin: 1px 0;
    background: #929393;
    font-size: 0.8em;
}

#mainnav li:hover,
#mainnav li.active,
#mainnav li:hover ul li a:hover,
#mainnav li.active:hover ul li.active a {
    background: #1C0069;
}

#mainnav li.deactivated:hover {
    background: #4D4E4E;
}

#mainnav a, #mainnav span {
    display: block;
    width: 100px;
    float: left;
    color: #fff;
    padding: 25px 0px;
    text-align: center;
}

/* Header2 */

#breadcrumb h1 {
    padding-left: 350px;
    color: #1C0069;
    font-size: 18px;
    line-height: 40px;
}

/* Content */
#content {
    padding: 20px;
    padding-left: 35px;
    /*
    background: url('images/logo.png') no-repeat;
    padding-top: 80px;
    */
}

#content-logo {
    margin-top: 10px;
}

.content-col {
    width: 320px;
    float: left;
    margin-right: 20px;
}

.content-box {
    padding: 2px;
    background: #D1D1D1;
    line-height: 20px;
    margin-bottom: 20px;
}

.content-box-small, .content-col-small {
    width: 260px;
}

.content-box-end, .content-col-end {
    margin-right: 0px;
}

.content-box,
.content-box h2 {
    font-size: 14px;
}

.content-box-inner {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}

.content-box p {
    color: #4D4E4E;
}

.content-login {
    width: 450px;
    float: none;
    margin: auto;
}